<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">Satoru Umezawa</div>
            </div>
            <div class="right">
                <!-- <div id="mana-cost">2bbl</div> -->
                <img class="color-icon" src="/img/1.png" alt="Icon representing the color blue">
                <img class="color-icon" src="/img/U.webp" alt="Icon representing the color blue">
                <img class="color-icon" src="/img/B.webp" alt="Icon representing the color noir">
            </div>
        </header>
        <figure id="art">
            <img src="img/Satoru_Umezawa.webp" >
            <figcaption style="color: white;">Créature Légendaire : Humain Ninja</figcaption>
        </figure>
        <div id="capacity">
            <div class="main">
                <div class="description">À chaque fois que vous activez une capacité de ninjutsu, regardez les trois cartes du dessus de votre bibliothèque. Mettez l'une d'elles dans votre main et le reste au-dessous de votre bibliothèque, dans l'ordre de votre choix. Cette capacité ne se déclenche qu'une seule fois par tour.</div>
                <br />
                <div class="description">
                    Chaque carte de créature de votre main a ninjutsu .
                    <img class="color-icon" src="/img/2.png" alt="Icon representing the color blue">
                    <img class="color-icon" src="/img/U.webp" alt="Icon representing the color blue">
                    <img class="color-icon" src="/img/B.webp" alt="Icon representing the color noir">

                </div>
                <div id="stats">2/4</div>
            </div>
        </div>
    </div>
</div>